* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
.corpo{
    position: relative;
    width: 1024px;
    height: 100px;
    margin: 0 auto;
    padding: 0;
}
/*------- Cabeçalho */
.cabeçalho{
    position: relative;
    width: 100%;
    height: 130px;
    background-color: #fff;
    padding: 30px 0px;
    margin: 0;  
}
        .cabeçalho .logo{
            position: relative;  
            top: 0;
            padding: 0;
            margin: 0;
        }
            .cabeçalho .logo img{
                width: 75px;
                height: 75px;
                position: absolute;
                left: 0;
                top: 0px;
            }
            .cabeçalho .logo h1{
                font-size: 32px;
                color: #000;
                position: absolute;
                left: 90px;
                top: -2px;
        
            }
            .cabeçalho .logo p{
                font-size: 16px;
                color: #2f86d6;
                font-weight: 600;
                position: absolute;
                left: 90px;
                top: 42px;
            }
        .menu{
            position: absolute;
            right: 0;
            top: 20px;
        }
            .menu a{
                font-size: 18px;
                color: #233032;
                font-weight: 600;
                text-decoration: none;
                margin-left: 15px;  
            }
/*------- Banner */
.banner{
    background-color: #2f86d6;
    width: 100%;
    height: 650px;
    position: relative;

}
    .texto-banner{
        width: 470px;
        position: absolute;
        top: 180px;
        left: 0;
    }
        .texto-banner p{ 
            font-size: 16px;
            color: #fff;
            letter-spacing: 1px;
            margin: 20px auto;
        }
        .texto-banner h2{
            font-size: 28px;
            color: #fff;
        }
    .banner .corpo img{
        width: 50%;
        height: auto;
        position: absolute;
        top: 100px;
        right: 0;
    }
/*------- Anuncios */
.anuncio1, .anuncio2{
    width: 100%;
    height: 150px;
    position: relative;
}
.anuncio1{
    background-color: #23303e ;
}
.anuncio2{
    background-color: #2f86d6;
}
    .anuncio1 .texto, .anuncio2 .texto{
        width: 600px;
        padding: 40px 0px;
        position: relative;
        top: 10px;
    }
        .anuncio1 h2, .anuncio2 h2{
            font-size: 24px;
            color: #fff;
            position: absolute;
            top: 30px;
            left: 0;
        }
        .anuncio1 p, .anuncio2 p{
            font-size: 16px;
            color: #fff;
            position: absolute;
            top: 65px;
        }
    .anuncio1 a, .anuncio2 a{
        font-size: 18px;
        color: #fff;
        font-weight: 700;
        text-decoration: none;
        position: absolute;
        right: 0;
        top: 40px;
        border-radius: 5px;
        padding: 20px;
    }
    .anuncio1 a{
        background-color: #2f86d6;
    }
    .anuncio2 a{
        background-color: #23303e;
    }
    .anuncio1 img, .anuncio2 img{
        position: relative;
        left: -7px;
        top: 2px;
        margin-left: 5px;
        width: 20px;
        height: 20px;
    }
/*-------  Informações*/
#informações{
    background-color: #fff;
    width: 100%;
    height: 550px;
    position: relative;
}
    #informações h2{
        font-size: 32px;
        color: #000000;
        width: 900px;
        text-align: center;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
        #informações h2 span{
            color: #2f86d6;
        }
    #informações .corpo{
        position: absolute;
        top: 250px;
        right: 0;
        left: 0;
    }
        #informações .corpo div{
            width: 33%;
            text-align: center;
            display: inline-block;
        }
            #informações .corpo div img{
                width: 100px;
                }
            #informações h3{
                font-size: 18px;
                color: #000;
                margin: 15px auto;
            }
            #informações p{
                font-size: 16px;
                color: #000;
            }
/*------- Planos */
#planos{
    background-color: #f1f6f7;
    width: 100%;
    height: 820px;
    padding: 50px 0px;
}
    #planos h2{
        font-size: 32px;
        color: #000000;
        width: 900px;
        text-align: center;
        margin: 0 auto;
    }
        #planos h2 span{
            color: #2f86d6;
        }
    table{
        width: 1024px;
        margin: 50px auto;
        text-align: center;
        box-shadow: 0px 0px 15px 5px #2f86d6;
        border-collapse: collapse;
    }
        table h3{
            font-size: 18px;
            color: #000;
        }
        table img{
            width: 100px;
            margin: 15px;
        }
        table th{
            background-color: #fff;
            padding: 30px;
        }
        table th p{
            font-size: 13px;
            font-weight: 400;
            color: #b1a4a1;
            width: 150px;
            margin: 0 auto;
        }
        table td{
            padding: 15px 10px;
        }
        .linha-impar{
            font-size: 16px;
            color: #000;
            background-color: #f1f6f7;
        }
        .linha-par{
            font-size: 16px;
            color: #000;
            background-color: #fff;
        }
/*------- Contato */
#contato{
    width: 100%;
    height: 400px;
    background-color: #fff;
    position: absolute;
}
    #contato .logo{
        position: relative;
        top: 80px;
        left: 0;
        right: 0;
        padding: 0;
        margin: 0 auto;
        width: 320px;
        height: 75px
    }
        #contato .logo img{
            width: 75px;
            height: 75px;
            position: absolute;
            left: 0;
            top: 0px;
        }
        #contato .logo h1{
            font-size: 32px;
            color: #000;
            position: absolute;
            left: 90px;
            top: -2px;
        }
        #contato .logo p{
            font-size: 16px;
            color: #2f86d6;
            font-weight: 600;
            position: absolute;
            left: 90px;
            top: 42px;
         }
    .contatos-corpo{
        width: 600px;
        margin: 0 auto;
        position: absolute;
        top: 200px;
        left: 0;
        right: 0;
    }
        .contatos-corpo p{
            font-size: 16px;
            color: #000;
            font-weight: 470;
            text-align: center;
            line-height: 45px;
    }
/*------- Rodapé */
.rodapé{
    width: 100%;
    height: 100px;
    background-color: #e1e1e1;
    position: relative;
    top: 400px;
    padding: 15px;
}
    .rodapé p{
        font-size: 14px;
        text-align: center;
        color: #000;
        font-weight: 400;
        margin: 10px;
    }
        .rodapé span{
            color: #000;
            font-weight: 600;
        }
        .rodapé a{
            text-decoration: none;
            color: #2f86d6;
            font-weight: 600;
        }
/*------- Fim */