* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
.corpo{
    position: relative;
    width: 1024px;
    height: 100px;
    margin: 0 auto;
    padding: 0;
}
/*------- Cabeçalho */
.cabeçalho{
    position: relative;
    width: 100%;
    height: 130px;
    background-color: #2f86d6;
    padding: 30px 0px;
    margin: 0;  
}
        .cabeçalho .logo{
            position: relative;  
            top: 0;
            padding: 0;
            margin: 0;
        }
            .cabeçalho .logo img{
                width: 75px;
                height: 75px;
                position: absolute;
                left: 0;
                top: 0px;
            }
            .cabeçalho .logo h1{
                font-size: 32px;
                color: #000;
                position: absolute;
                left: 90px;
                top: -2px;
        
            }
            .cabeçalho .logo p{
                font-size: 16px;
                color: #fff;
                font-weight: 600;
                position: absolute;
                left: 90px;
                top: 42px;
            }
        .menu{
            position: absolute;
            right: 0;
            top: 20px;
        }
            .menu a{
                font-size: 18px;
                color: #fff;
                font-weight: 600;
                text-decoration: none;
                margin-left: 15px;
            }
/*------- Tabela Preços */
.tabela{
    position: relative;
    width: 100%;
    height: auto;
    padding: 100px 0;
    background-color: #fff;
}
    table{
        margin: 0 auto;
        left: 0;
        right: 0;
        text-align: center;
        background-color: #fdfdfd
    }
        th{
            background-color: #eaeaea;
            padding: 20px 70px;
        }
            .vazio{
                background-color: #fff;
                border-collapse: collapse;
            }
            table th p{
                font-size: 13px;
                font-weight: 400;
                color: #a8a4a4;
                margin: 0 auto;
            }
            table h2{
                font-size: 34px;
                color: #000;
            }
    td{
        padding: 15px 30px;
    }
        .coluna-esquerda{
            background-color: #eaeaea;
            font-weight: 600;
            text-align: left;
        }
        td p{
            font-size: 14px;
            color: #000;
        }
        .bola-azul{
            width: 15px;
            height: 15px;
            background-color: #2f86d6;
            border-radius: 50%;
            margin: 0 auto;
        }
/*------- Rodapé */
.rodapé{
    position: relative;
    width: 100%;
    height: 180px;
    background-color: #2f86d6;
    padding: 30px 0px;
    margin: 0;
}
    .rodapé .logo{
        position: relative;  
        padding: 0;
        margin: 0 auto;
         width: 310px;
    }
        .rodapé .logo img{
            width: 75px;
            height: 75px;
            position: absolute;
            left: 0;
            top: 0px;
        }
        .rodapé .logo h1{
            font-size: 32px;
            color: #000;
            position: absolute;
            left: 90px;
            top: -2px;
        }
        .rodapé .logo p{
            font-size: 16px;
            color: #fff;
            font-weight: 600;
            position: absolute;
            left: 90px;
            top: 42px;
        }
    .rodapé p{
        font-size: 16px;
        color: #fff;
        font-weight: 600;
        max-width: 600px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 30px;
        margin: 0 auto;
    }
    .créditos p{
        font-size: 14px;
        text-align: center;
        color: #000;
        font-weight: 400;
        margin: 10px;
    }
        .créditos span{
            color: #000;
            font-weight: bold;
        }
        .créditos a{
            text-decoration: none;
            color: #2f86d6;
            font-weight: 600;
        }
/*------- Fim */